.row {
  padding: 20px 20px;
}

.box{
  border: 1px solid gray;
  border-Radius:10px;
  height: 400px;
}

.logo {
  display: flex;
  height: 50px;
}

.btn-danger {
  flex: 0.5;
  background-Color:red;
  /* height:40px; */
  /* width: 20vw; */
  min-width: 100px;
}

.imgBox {
    overflow:hidden;
    margin-top:10vw;
    border-color:1px solid white;
    display:flex;
} 

.btn-primary {
    margin-left: 10px;
    background-color: transparent; /* 배경색 제거 */
    border: none; /* 테두리 제거 */
    color: white; /* 글자색을 흰색으로 */
  }
  
  .btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 마우스 오버 시 배경색 추가 */
  }

.detail-page {
    margin: 20px;
}

.header {
    text-align: center;
}


.menu-section, .review-section, .footer {
    margin: 20px 0;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

/* 모달 배경 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }   
 /* 모달 컨텐츠 */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  position: relative;
  z-index: 10000; /* 모달 오버레이보다 위에 위치하도록 설정 */
}
/* 닫기 버튼 */
.close-button {
  position: absolute; 
  top: -60px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10001; /* 닫기 버튼이 가장 위에 오도록 설정 */
}

