
.address {
  font-size: small;
}

.link {
  text-decoration-line: none;
  color: #fff;
  text-align: center;
}

.img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.data {
  width: 50%;
  padding: 10px;
  /* display: flex; */
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.ulul {
  display:flex;
  flex-Wrap:wrap;
  width: 50%;
  margin: 0;
  padding: 0;
}

.nav-link.active::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #ff0000;
  z-index: 1;
}

.nav-link.active {
  font-size: large;
}

.nav {
 align-items: end;
}
