/* Footer */
.main-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer {
    background-color:none;
    padding: 50px;
    text-align: center;
  }
  
  .footer-info {
    font-size: 14px;
    color: #ffffff;
  }
  
  .footer-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .footer-info p {
    margin: 5px 0;
  }

  /* 맨 위로 가기 */
.scroll-to-top {
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #ff0000;
    color: #ffffff;
    border: red;
    border-radius: 5px;
    cursor: pointer;
  }